<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en" />

  <title>Welcome to Turbo 360</title>
  <link rel="shortcut icon" href="https://lh3.googleusercontent.com/MpnmfR3zYPTojA03QbhGgwIHucmH5s4G2vbIlADYhODL488MQt_BuVztv9LYmJbhwkScYN0DIXuh4d10YMsLbWXT">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
  <link rel="stylesheet" href="https://cdn.turbo360-dev.com/admin/assets/scaffold/css/style.min.css" />
</head>

<body>
  <div id="root"></div>
  <div  >
<form style="display: flex;justify-content:center; flex-direction: column" action="/register/user" method="POST"> 
  <!-- 1. action="/post" when it was sending the data to the post route on index.js
action will send the data to the post query on index.js and method tells about the method used now the form is sending data to the regis
ter route to the user post method -->
<input type="text" name="name" placeholder="Name" /> <br />
  <input type="text" name="occupation" placeholder="occupation"/> <br />
  <input type="submit" value="Submit" /> 

</form>
   </div>
</body>
</html>
