<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="/css/style.css" type="text/css" />
     </head>
    <body>
        <div>
        <h1>name: {{name}}</h1>
        <h2>occupation: {{occupation}}</h2>
        <h3>age: {{age}}</h3>
    </div>
    </body>
</html>