<html>
    <head>
         <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
         <link rel="stylesheet" href="/css/style.css" type="text/css" />
    </head>
<body class="container">
    <span>{{timestamp}}</span>
    <!-- to see the image in the browser we will use the image tag and will pass the image key that we declared profiles array of objects -->
    
    <h1>Name: {{name}}</h1>
    <img class="profile-img" src="{{image}}" alt="profile image" />
    <h2>Company: {{company}}</h2>
    <h2>Languages: </h2>
<!-- this is how u loop through arrays  of things in mustache template engine-->
    <ol>
        {{#languages}}
        <li>{{.}}</li>
        {{/languages}}
    </ol>
 <!-- add an form that sends an post req -->
 <form action="/addprofile" method="POST">
        <input type="text" name="name" placeholder="name" /><br />
 <!-- we added images this will also be redirected from the profiles object after adding the new profile but the image address will be same -->
        <input type="text" name="image"  placeholder="Images(/images/image.jpg)" /><br />
        <input type="text" name="username" placeholder="Username" /><br />
        <input type="text" name="company" placeholder="company" /><br />
        <input type="text" name="languages" placeholder="languages" /><br />
        <input type="submit" value="Add Profile" />
 </form>
 <!-- for now i am commenting out this-->
 <!--  
    
    <div>
    <h1>name: {{name}}</h1>
    <h2>occupation: {{occupation}}</h2>
    <h3>age: {{age}}</h3>
 </div> -->
</body>
</html>